<div class="container">
  <div class="row">
    <div class="col-xs-12, col-sm-3">
      <div class="box box_ratio_1_1" style="background-image:url('<%= cl_image_path @url_logo%>');">
        </div>
        <div class="box">
          <div class="box_link btn-crew-deck text-center">
            <%= link_to "edit your profile", edit_crew_path %>
          </div>
        </div>
        <div class="box">
          <div class="box_link btn-crew-deck text-center">
            <%= link_to "see your profile", crew_path %>
          </div>
      </div>
    </div>

    <div class="col-xs-12, col-sm-9">
      <div class="row">
        <div class="col-xs-12">
          <h2> Welcome home <%= @crew.name %>!</h2>
        </div>
        <div class="col-xs-12">
          <div class="progress style-1">
            <span class="text"></span>
              <div class="progress-bar progress-bar-success" role="progressbar" data-animate-width="50%">
                <span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">Profile filled - 50%</span>
              </div>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="small-card text-center">
            <h3>YOU HAVE 3 CREDITS LEFT</h3>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="small-card text-center">
            <h3>YOU HAVE <%= @crew.missions.count %> CURRENT MISSIONS</h3>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="small-card text-center">
            <%= link_to "POST A MISSION", new_mission_path %>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="panel-group collapse-style-2" id="accordion-2">
            <!-- each on all missions -->
            <% @crew.missions.order(created_at: :desc).each_with_index do |mission, index| %>
              <div class="panel panel-default">
                <div class="panel-heading myclass">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion-2" href="#Mission<%= index %>" >
                      <%= mission.title + ' - ' + mission.status %>
                    </a>
                  </h4>
                </div>
                <div id="Mission<%= index %>"  class="panel-collapse collapse in">
                  <div class="panel-body">
                    <div class="mission_description">
                      <%= mission.description %>
                      <%= link_to "see more", mission_path(mission) %>
                    </div>

                    <!-- each on all connections for this mission -->
                    <div class="mission_connections">
                      <% mission.connections.each do |connection| %>
                        <div class="col-md-12 ">
                          <div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                            <span class="icon without-bg"><i class="fa text-default fa-connectdevelop"></i></span>
                            <div class="body">
                              <h4 class="title text-default"><%= connection.packer.user.first_name %> - status: <%= connection.status %></h4>
                              <p><%= connection.message %><%= link_to "see the profile", packer_path(connection.packer) %></p>
                              <p><%= link_to "accept",  accept_connection_path(mission,connection) %> - <%= link_to "refuse",  refuse_connection_path(mission,connection) %></p>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    <!-- end of each on all connections for this mission -->
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <!-- end of each on all missions -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
