<div class="box_margin">
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-lg-3 col-lg-offset-1">
      <div class="box box_ratio_1_1" style="background-image:url('<%= cl_image_path @url_logo %>');">
      </div>

      <!-- Box name + social issue -->
      <div class=text-center>
        <div class="title_box">
          <h1><%= @crew.name %></h1>
        </div>
        <p><i class="fa fa-map-marker" aria-hidden="true"></i>
        <%= @crew.city %>, <%= @crew.country %></p>
      </div>

      <% if @editable %>
        <div class="box_button secondary_crew">
          <%= link_to 'edit your profile', edit_crew_path %>
        </div>
      <% end %>
    </div>


    <div class="col-xs-12 col-sm-8 col-lg-7">
      <div class='row'>
        <!-- Box social_issue & mission 2 column -->
        <div class="col-xs-3">
          <div class="box box120px box_dark">
            <% if nil_or_empty_string @crew.social_issue %>
              <div class="box_empty">
                <p>Tell us your social_issue</p>
              </div>
            <% else %>
              <div class="content_box">
                <div class="title_box">
                  <h1><%= @crew.social_issue %></h1>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-xs-9">
          <div class="box box120px mission_box">
            <% if @crew.mission == nil || @crew.mission == '' %>
              <div class="box_empty">
                <h2>What is your mission </h2>
              </div>
            <% else %>
              <div class="content_box">
                <p><%= @crew.name %> have been created to <strong><%= @crew.mission %></strong></p>
              </div>
            <% end %>
          </div>
        </div>

        <!-- Box story 1 column  -->
        <div class="col-xs-12">
          <div class="box box_red box_story">
            <div class="title_box">
              <h1>Story</h1>
            </div>
            <% if @crew.story == nil || @crew.story == '' %>
              <div class="box_empty">
                <h2>Tell us more about you</h2>
              </div>
            <% else %>
              <div class="content_box">
                <p><%= @crew.story %></p>
              </div>
            <% end %>
          </div>
        </div>

        <!-- Box story 1 column  -->
        <div class="col-xs-12, col-sm-3">
          <table class="box box270px table table-bordered">
              <tr>
                <td>created in<br/><%= @crew.creation_date %></td>
              </tr>
              <tr>
                <td><%= @crew.nb_collaborators %> people<br/>in the team</td>
              </tr>
          </table>
        </div>

        <div class="col-xs-12 col-sm-9">
          <div class="box box270px team_box">
            <div class="title_box">
              <h1>Team</h1>
            </div>
            <% if @crew.team_description == nil || @crew.team_description == '' %>
              <div class="box_empty">
                <h2>Present your team</h2>
              </div>
            <% else %>
              <div class="content_box">
                <p><%= @crew.team_description %></p>
              </div>
            <% end %>
          </div>
        </div>

        <!-- Box youtube 1/1 -->
        <% if !nil_or_empty_string @crew.youtube_link %>
          <div class="col-xs-12">
            <div class="box box_song box_dark">
              <div class="content_box">
                <iframe width="100%" height="300px" src="https://www.youtube.com/embed/<%= @crew.song_youtube_id %>" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        <% end %>

        <!-- Box value 1/1 -->
        <% if (!nil_or_empty_string @crew.value1) || (!nil_or_empty_string @crew.value2) ||(!nil_or_empty_string @crew.value3)  %>
          <div class="col-xs-12 col-sm-6">
            <div class="box box_ratio_1_1 box_green box_value">
              <div class="content_box">
                <div class="title_box">
                  <h1>Value</h1>
                </div>
                <% unless nil_or_empty_string @crew.value1 %>
                  <h2><%= @crew.value1 %></h2>
                <% end %>
                <% unless nil_or_empty_string @crew.value2 %>
                  <h2><%= @crew.value2 %></h2>
                <% end %>
                <% unless nil_or_empty_string @crew.value3 %>
                  <h2><%= @crew.value3 %></h2>
                <% end %>
              </div>
            </div>
          </div>
        <% elsif @editable %>
          <div class="col-xs-12 col-sm-6">
            <div class="box box_ratio_1_1">
              <div class="box_empty">
                <h2>Add your values</h2>
              </div>
            </div>
          </div>
        <% end %>

        <!-- Box quote 1/1 -->
        <% if (!nil_or_empty_string @crew.quote) && (!nil_or_empty_string @crew.quote_author) %>
          <div class="col-xs-12 col-sm-6">
            <div class="box box_ratio_1_1 box_quote">
              <div class="content_box">
                <div class="title_box">
                  <h1>Inspiring quote</h1>
                </div>
                <p><%= @crew.quote %></p>
                <div class="author">
                  <p><%= @crew.quote_author %></p>
                </div>
              </div>
            </div>
          </div>
        <% elsif @editable %>
          <div class="col-xs-12 col-sm-6">
            <div class="box box_ratio_1_1">
              <div class="box_empty">
                <h2>Add a inspiration quote</h2>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="box_margin_bottom">
</div>

<footer class="footer">
  <div id="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <span class="footer__copyright">© 2016 Pack Your Skills</span>
          <a href="">Terms &amp; Conditions</a>
          <a href="">Privacy Policy</a>
          <a href="">Careers</a>
        </div>
      </div>
    </div>
  </div>
</footer>
