<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-4 col-sm-4">

      <div class="row">

        <div class="col-xs-12">
          <div class="text-center">
            <% if params['role'] == 'crew' %>
              <h2 class="form-title">Sign up as a Crew </h2>
            <% else %>
              <h2 class="form-title">Sign up as a Packer </h2>
            <% end %>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="form-box">
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= f.error_notification %>

                <%= f.input :email, required: true, autofocus: true %>
                <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
                <%= f.input :password_confirmation, required: true %>
                <%= f.input :role, as: :hidden, input_html: { value: params['role'] } %>
          </div>

            <div class="form-actions text-center">
              <%= f.submit "Sign up", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>

        <div class="col-xs-12">
          <div class="text-center link">
            <%= render "devise/shared/links" %>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

