<h1>Packers#edit</h1>
<p>Find me in app/views/packers/edit.html.erb</p>



<%= simple_form_for(@packer) do |f| %>


  <div class="form-inputss">


    <%= f.input :sexe, as: :radio_buttons,
      collection: ['Male', 'Female'], wrapper: :vertical_radio_and_checkboxes %>
    <%= f.input :age, as: :date, start_year: Date.today.year - 100,
                                end_year: Date.today.year - 18, discard_day: false,
                                order: [:day, :month, :year] %>
    <%= f.input :city %>
    <%= f.input :country, as: :string %>
    <%= f.input :nationality ,label: "nationality", placeholder: 'put it here'%>
    <%= f.input :website ,label: "Your website", placeholder: 'put the link here'%>
    <%= f.input :phone ,label: "Phone number", placeholder: 'put your phone number here'%>
    <%= f.input :skype ,label: "Skype", placeholder: 'put your username in Skype'%>
    <%= f.input :youtube_link ,label: "Do you want to add a video?", placeholder: 'give us a youtube link'%>
    <%= f.input :job , placeholder: 'What are you doing ?' %>
    <%= f.input :cv_link ,label: "Link to your CV", placeholder: 'put the link here (linkedin, viadeo...)'%>
    <%= f.input :story , placeholder: 'Tell us more about you' %>


  </div>

  <div class="form-actionss">
    <%= f.button :submit %>
  </div>
<% end %>
