<h1>Packers#show</h1>
<p>Find me in app/views/packers/show.html.erb</p></br>

<hr>
<h3>Your skills</h3>
<ul>
  <% @packer.skills.each do |skill| %>
    <li><%= skill.title %>  <%= skill.level %>  <%= skill.type_of_skill %>
      <%= link_to "edit", edit_packer_skill_path(@packer, skill) %>
      <%= link_to "delete", packer_skill_path(@packer, skill), method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
  <%end%>
</ul>


<h3>Your education </h3>
<ul>
<% @packer.educations.each do |education| %>
  <li> <%= education.school %>   <%=education.degree %>    <%= education.end_time %>  <%= education.field %>
<%= link_to "edit", edit_packer_education_path(@packer, education) %>
<%= link_to "delete", packer_education_path(@packer, education), method: :delete, data: {confirm: "Are you sure?"} %>
  </li>
<%end%>
</ul>


<h3>Your experiences </h3>
<ul>
<% @packer.experiences.each do |experience| %>
<li> <%= experience.type_of_exp %> <%=experience.start_time %> <%= experience.end_time %> <%= experience.organisation %> <%= link_to "edit", edit_packer_experience_path(@packer, experience) %>
  <%= link_to "delete", packer_experience_path(@packer,experience), method: delete, data: {confirm: "Are your sure?"} %>
  </li>
  <%end%>
  </ul>


<h3>Your applications </h3>
<ul>
<% @packer.connections.each do |connection| %>
<li> <% connection.message %> <%connection.status%>
<% link_to "edit", edit_packer_connection_path(@packer,connection) %>
<%=link_to "delete", packer_experience_path(@path, experience), method: delete, data: {confirm: "Are you sure?"} %>
</li>
<%end%>
</ul>



<hr>

<%= link_to 'edit', edit_packer_path(@packer) %></br>
