<%= simple_form_for [@packer, @experience] do |f| %>

    <%= f.input :type_of_exp %>
    <%= f.input :start_time, as: :date, start_year: Date.today.year - 100,
                                end_year: Date.today.year, discard_day: false,
                                order: [:month, :year] %>


    <%= f.input :end_time, as: :date, start_year: Date.today.year - 100,
                                end_year: Date.today.year, discard_day: false,
                                order: [:month, :year] %>
    <%= f.input :organisation %>
    <%= f.input :position %>
    <%= f.input :description %>


  <div class="form-actionss">
    <%= f.button :submit %>
  </div>
<% end %>
