<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-4 col-sm-4">

      <div class="row">

        <div class="col-xs-12">
          <div class="text-center">
            <% if params['role'] == 'crew' %>
              <h2 class="form-title">Log in as a Crew </h2>
            <% else %>
              <h2 class="form-title">Log in as a Packer </h2>
            <% end %>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="form-box">
            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <%= f.input :email, required: false, autofocus: true %>
                <%= f.input :password, required: false %>
                <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                <%= f.input :role, as: :hidden, input_html: { value: params['role'] } %>
          </div>
          <div class="form-actions text-center">
            <%= f.submit "Log in", class: "btn btn-primary" %>
          </div>
            <% end %>
        </div>

        <div class="col-xs-12">
          <div class="text-center link">
            <%= render "devise/shared/links" %>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

