<article class="col-md-12 col-lg-6 isotope-item <%= mission.skill.downcase.gsub(/ /, '_') %>">
  <%= link_to mission_path(mission), class: 'mission-card', target: '_blank' do %>
    <div class="mission-card--content">
      <h1 class="mission-card--title">
        <%= truncate(mission.title, length: 60) %>
      </h1>
      <ul class="mission-card--info">
        <li class="info location">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <%= "#{mission.city}, #{mission.country}" %>
        </li>
        <li class="info duration">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          <%= mission.duration %>
        </li>
        <li class="info skill">
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <%= mission.skill %>
        </li>
      </ul>
    </div>
    <div class="mission-card--background">
       <% url_cover = mission.cover_picture.nil? ? 'http://res.cloudinary.com/pack-your-skills/image/upload/v1480073054/Website/Home%20Page/Banner_PackyourSkills.jpg' : mission.cover_picture.path %>
       <div class="image" style="background-image: url('<%= cl_image_path url_cover %>')"></div>
    </div>
    <div class="mission-card--brand">
    <% url_logo = mission.cover_picture.nil? ? 'https://dummyimage.com/400x400/EC605F/2d221f.png&text=.' : mission.crew.logo.path %>
      <div class="logo" style="background-image: url('<%= cl_image_path url_logo %>')"></div>
      <div class="name">
        <%= mission.crew.name %>
      </div>
    </div>
  <% end %>
</article>
