<div class="maint_container">
  <div class="scroll-v col-xs-12 col-md-6">
      <!-- main-container start -->
      <!-- ================ -->
          <div class="row">
            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-12">
              <!-- page-title start -->
              <!-- ================ -->
              <div class="search_engin_result_page">
                <%= render "shared/searching_engine" %>
              </div>
              <div class="separator-2"></div>

              <!-- isotope filters start -->
              <div class="filters">
                <ul class="nav nav-pills">
                  <li class="active"><a href="#" data-filter="*">All</a></li>
                  <% @list.each do |skill| %>
                    <li><a href="#" data-filter=".<%= skill[1]['url'] %>"><%= skill[0] %></a></li>
                  <% end %>
                </ul>
              </div>
              <!-- isotope filters end -->

              <div class="isotope-container-fitrows row grid-space-10">
                <% @missions.each_with_index do |mission, index| %>
                  <%= render 'mission_card', mission: mission %>
                <% end %>
              </div>
            </div>
            <!-- main end -->
          </div>
      <!-- main-container end -->
  </div>
  <div class="container_map col-xs-12 col-md-6">
    <div class="image_100vh_fixed">
      <div id="map" style="width: 100%; height: calc(100vh - 70px);"></div>
    </div>
  </div>
</div>
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
      handler.getMap().setZoom(14);
      }
      });
    });
  <% end %>
<% end %>
