<div class="container_cover">
  <div class="banner_mission" style="background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('<%= cl_image_path @url_cover %>')">
  </div>
  <div class="container banner_info">
    <div class="row">
      <div class="col-xs-12, col-sm-3">
        <div class="row">
          <div class="col-xs-12">
            <div class="box box_ratio_1_1_0-75" style="background-image: url('<%= cl_image_path @url_logo %>')">
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12, col-sm-6">
        <div class="row">
          <div class="col-xs-12">
            <div class="box height_80px">
              <div class="job-title">
                <h2><%= @mission.title %></h2>
              </div>
              <div class="mission-essentials">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i>
                <%= @mission.city %>, <%= @mission.country %>,
                <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                <%= @mission.duration %> weeks,
                <i class="fa fa-cogs" aria-hidden="true"></i>
                <%= @mission.skill %>,
                <i class="fa fa-handshake-o" aria-hidden="true"></i>
                <%= @mission.crew.social_issue %></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12, col-sm-3">
        <% if user_signed_in? %>
          <% if @editable %>
            <div class="box_button main_button">
              <%= link_to 'Edit', edit_mission_path %>
            </div>
          <% else %>
            <% unless current_user.crew? %>
              <div class="box_button main_button">
                <%= link_to "Apply", new_mission_connection_path(@mission), class:"apply" %>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <div class="box_button main_button">
            <%= link_to "Sign in to continue<", new_user_session_path(role: :packer) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- Banner end -->

<div class="container">
  <div class="row">
    <div class="col-xs-12, col-sm-3">
      <div class="row">
        <div class="col-xs-12">
          <div class="box box160px box_grey">
            <% if @mission.crew.name == nil || @mission.crew.name == '' %>
              <div class="box_empty">
                <h2>Add information</h2>
              </div>
            <% else %>
              <div class ="content_box">
                <h2><%= @mission.crew.name %></h2>
                <p>Their mission is to<br/>"<%= @mission.crew.mission %>"</p>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12">
          <table class="box box100px table table-bordered">
              <tr>
                <td><p>Crew created in<br/><br/><%= @mission.crew.creation_date %></p></td>
                <td>Team members<br/><%= @mission.crew.nb_collaborators %></td>
              </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <% if @mission.crew.value1 == nil || @mission.crew.value1 == '' %>
              <div class="box_empty">
                <h2>Add values</h2>
              </div>
            <% else %>
              <div class ="content_box">
                <h3>Their values : <%= @mission.crew.value1 %></h3>
               </div>
            <% end %>
          </div>
        </div>
        <% if user_signed_in? %>
          <div class="col-xs-12">
            <div class ="box_button secondary_button">
              <% if @editable %>
                <%= link_to 'Go to your profile', crew_path(@mission.crew) %>
              <% else %>
                <%= link_to "See their profile", crew_path(@mission.crew) %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-xs-12, col-sm-9">
      <div class="row">
        <!-- Box Mission 2 columns mandatory -->
        <div class="col-xs-12, col-sm-8">
          <div class="box box270px">
            <% if @mission.description == nil %>
              <div class="box_empty">
                <h2>Tell us about the mission</h2>
              </div>
            <% else %>
              <div class="content_box">
                <h2>Why do they need you ?</h2>
                <p><%= @mission.description %></p>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12, col-sm-4">
          <table class="box box270px table table-bordered">
              <tr>
                <td><%= @mission.days_per_week %> days/week</td>
                <td><%= @mission.hours_per_day %> hours/day</td>
              </tr>
              <tr>
                <td>hosting<br/><%= @mission.hosting_condition %></td>
                <td>food<br/><%= @mission.food %></td>
              </tr>
              <tr>
                <td colspan="2">language spoken<br/><%= @mission.language %></td>
              </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <!-- Box Map 1 column mandatory -->
        <div class="col-xs-12, col-sm-4">
          <div class ="box box270px">
            <div id="map" style="width: 100%; height: 100%;"></div>
          </div>
        </div>

        <!-- Box Hosting Picture 2 columns mandatory -->
        <div class="col-xs-12, col-sm-8">
          <div class="box box270px" style="background-image:url('<%= cl_image_path @url_hosting %>')">
          </div>
        </div>
      </div>
      <% if @mission.other_comment == nil || @mission.other_comment == "" %>
        <% if @editable %>
          <div class="row">
            <div class="col-xs-12">
              <div class ="box">
                <div class="box_empty">
                  <h2>Tell us more about the mission add a comment</h2>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="row">
          <div class="col-xs-12">
            <div class ="box">
              <div class="content_box">
                <h2>More information</h2>
                <p><%= @mission.other_comment %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(4);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(6);
      }
    });
  });
  <% end %>
<% end %>
